services:
  # ----------------------------
  # Qdrant Vector DB
  # ----------------------------
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./data/qdrant_storage:/qdrant/storage
    restart: unless-stopped

  # ----------------------------
  # Supabase PostgreSQL Database
  # ----------------------------
  supabase-db:
    image: supabase/postgres:15.8.1.085
    container_name: supabase-db
    environment:
      POSTGRES_PASSWORD: supabase
      POSTGRES_USER: postgres             
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data/supabase_data:/var/lib/postgresql/data
    restart: unless-stopped

  # ----------------------------
  # Supabase Meta (metadata)
  # ----------------------------
  meta:
    image: supabase/postgres-meta:v0.93.1
    container_name: supabase-meta
    depends_on:
      - supabase-db
    environment:
      PG_META_PORT: 8080
      PG_META_DB_HOST: supabase-db
      PG_META_DB_PORT: 5432
      PG_META_DB_NAME: postgres
      PG_META_DB_USER: postgres            
      PG_META_DB_PASSWORD: supabase
      CRYPTO_KEY: super-secret-jwt
    ports:
      - "8080:8080"
    restart: unless-stopped

  # ----------------------------
  # Kong (API Gateway)
  # ----------------------------
  kong:
    image: kong:2.8.1
    container_name: supabase-kong
    depends_on:
      - meta
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /home/kong/temp.yml
    ports:
      - "8000:8000"  # HTTP
      - "8443:8443"  # HTTPS
    volumes:
      - ./volumes/api/kong.yml:/home/kong/temp.yml:ro,z
    restart: unless-stopped


  # ----------------------------
  # PostgREST (API REST)
  # ----------------------------
  supabase-rest:
    image: postgrest/postgrest:v13.0.7
    container_name: supabase-rest
    depends_on:
      - supabase-db
    environment:
      PGRST_DB_URI: postgres://postgres:supabase@supabase-db:5432/postgres  
      PGRST_DB_SCHEMAS: public
      PGRST_DB_ANON_ROLE: anon
      PGRST_JWT_SECRET: super-secret-jwt
    ports:
      - "54321:3000"
    restart: unless-stopped

  # ----------------------------
  # Studio (Supabase Studio)
  # ----------------------------
  studio:
    image: supabase/studio:2025.10.27-sha-85b84e0
    container_name: supabase-studio
    depends_on:
      - meta
      - kong
    environment:
      HOSTNAME: "::"
      STUDIO_PG_META_URL: http://meta:8080
      POSTGRES_PORT: 5432
      POSTGRES_HOST: supabase-db
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres             
      POSTGRES_PASSWORD: supabase
      PG_META_CRYPTO_KEY: super-secret-jwt
      DEFAULT_ORGANIZATION_NAME: DevOrg
      DEFAULT_PROJECT_NAME: RAG-Test
    ports:
      - "54323:3000"
    restart: unless-stopped
